<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hi,</h3>
    <p>
       The following record that you are watching at the ESTC21 has been annotated by a user [or approved]:
    </p>
    <a href="http://estc21.ucr.edu/fullrecord?action=fullrecord&uri=<%= @params[:link] %>" ><%= @params[:title] %></a>
  </body>
</html>
