 ==============================
 Annotation Creation Notification
 ==============================

The following record that you are watching at the ESTC21 has been annotation by a user.
<a href="http://estc21.ucr.edu/fullrecord?action=fullrecord&uri=<%= @link%>" > <%= @title %></a>
