<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Annotation Creation Notification</h2>
    <p>
       The following record that you are watching at the ESTC21 has been annotation by a user [or approved]:
    </p>
    <a href="http://estc21.ucr.edu/fullrecord?action=fullrecord&uri=<%= @link%>" ><%= @title %></a>
  </body>
</html>
